In [1]:
import pandas as pd

# Load the .xls Excel file
AmadorCounty = pd.read_excel("Resources/AMADOHWS.xls", engine='xlrd')

# Display the first few rows of the DataFrame
print (AmadorCounty)

    SORTORDER  BMYEAR  AREA                        INCLUDES  BREAKS  PNCO  \
0           1    2023     5                             NaN     NaN     1
1           2    2023     5                             NaN     NaN     1
2           3    2023     5                             NaN     NaN     1
3           4    2023     5                             NaN     NaN     1
4           8    2023     5           110000-813000, 920000     NaN     1
5           9    2023     5    111000-113200, 114000-115000     NaN     1
6          10    2023     5    113000, 210000-813000, 92000     NaN     1
7          11    2023     5           113000, 210000-813000     NaN     1
8          12    2023     5   113000, 210000, 230000-330000     NaN     1
9          13    2023     5              10000000, 20000000     NaN     1
10         14    2023     5                 1133000, 210000     NaN     1
11         15    2023     5                             NaN     NaN     1
12         16    2023     5                   310000-330000     NaN     1
13         17    2023     5           321000, 327000-330000     NaN     1
14         18    2023     5    311000-316000, 322000-326000     NaN     1
15         19    2023     5    220000, 420000-813000, 92000     NaN     1
16         20    2023     5                             NaN     NaN     1
17         21    2023     5           220000, 420000-490000     NaN     1
18         22    2023     5                             NaN     NaN     1
19         23    2023     5                   440000-450000     NaN     1
20         24    2023     5           220000, 480000-490000     NaN     1
21         25    2023     5                             NaN     NaN     1
22         26    2023     5                   520000-530000     NaN     1
23         27    2023     5                   540000-560000     NaN     1
24         28    2023     5                   610000-620000     NaN     1
25         29    2023     5                   710000-720000     NaN     1
26         30    2023     5                   811000-813000     NaN     1
27         31    2023     5  910000, 920000, 930000, 940000     NaN     1
28         32    2023     5                   919110-912999     NaN     1
29         33    2023     5                  920000, 930000     NaN     1
30         34    2023     5                  921611, 922999     NaN     1
31         35    2023     5  931611, 939012, 939022, 932994     NaN     1

     SS-NAICS                                              TITLE  \
0   00-000010                               Civilian Labor Force
1   00-000020                                Civilian Employment
2   00-000030                              Civilian Unemployment
3   00-000040                         Civilian Unemployment Rate
4   01-000000                              Total, All Industries
5   11-000000                                         Total Farm
6   00-000000                                      Total Nonfarm
7   05-000000                                      Total Private
8   06-000000                                    Goods Producing
9   15-000000                   Mining, Logging and Construction
10  10-000000                                 Mining and Logging
11  20-000000                                       Construction
12  30-000000                                      Manufacturing
13  31-000000                                      Durable Goods
14  32-000000                                  Non-Durable Goods
15  07-000000                                  Service-Providing
16  08-000000                          Private Service Providing
17  40-000000               Trade, Transportation, and Utilities
18  41-000000                                    Wholesale Trade
19  42-000000                                       Retail Trade
20  43-000000          Transportation, Warehousing, and Utili...
21  50-000000                                        Information
22  55-000000                               Financial Activities
23  60-000000                 Professional and Business Services
24  65-000000              Private Education and Health Services
25  70-000000                            Leisure and Hospitality
26  80-000000                                     Other Services
27  90-000000                                         Government
28  90-910000                                 Federal Government
29  90-940000                   Total State and Local Government
30  90-920000                                   State Government
31  90-930000                                   Local Government

    2010-01-01 00:00:00  2010-02-01 00:00:00  ...  2023-10-01 00:00:00  \
0             15610.000            15690.000  ...            14490.000
1             13190.000            13270.000  ...            13760.000
2              2420.000             2420.000  ...              740.000
3                 0.155                0.154  ...                0.051
4             11320.000            11360.000  ...            12720.000
5               210.000              280.000  ...              330.000
6             11110.000            11080.000  ...            12390.000
7              5890.000             5900.000  ...             7690.000
8               940.000              960.000  ...             1710.000
9               350.000              350.000  ...              890.000
10              120.000              120.000  ...              290.000
11              230.000              230.000  ...              600.000
12              590.000              610.000  ...              820.000
13              230.000              230.000  ...              190.000
14              360.000              380.000  ...              630.000
15            10170.000            10120.000  ...            10670.000
16             4950.000             4940.000  ...             5970.000
17             1650.000             1630.000  ...             1690.000
18               60.000               70.000  ...               50.000
19             1440.000             1420.000  ...             1410.000
20              150.000              140.000  ...              230.000
21              180.000              180.000  ...              150.000
22              280.000              280.000  ...              250.000
23              380.000              370.000  ...              570.000
24             1420.000             1410.000  ...             1650.000
25              850.000              880.000  ...             1250.000
26              190.000              190.000  ...              410.000
27             5220.000             5180.000  ...             4700.000
28               80.000               90.000  ...               80.000
29             5140.000             5090.000  ...             4620.000
30             2020.000             2000.000  ...             1960.000
31             3120.000             3090.000  ...             2660.000

    2023-11-01 00:00:00  2023-12-01 00:00:00  2024-01-01 00:00:00  \
0             14440.000            14240.000            14400.000
1             13710.000            13500.000            13510.000
2               730.000              740.000              890.000
3                 0.051                0.052                0.062
4             12640.000            12520.000            12310.000
5               210.000              200.000              200.000
6             12430.000            12320.000            12110.000
7              7640.000             7590.000             7400.000
8              1670.000             1630.000             1570.000
9               870.000              840.000              800.000
10              290.000              280.000              260.000
11              580.000              560.000              540.000
12              810.000              800.000              780.000
13              200.000              200.000              200.000
14              610.000              600.000              580.000
15            10760.000            10690.000            10540.000
16             5970.000             5960.000             5820.000
17             1700.000             1680.000             1650.000
18               50.000               50.000               50.000
19             1420.000             1420.000             1390.000
20              230.000              220.000              210.000
21              150.000              160.000              150.000
22              250.000              260.000              240.000
23              560.000              550.000              530.000
24             1650.000             1660.000             1650.000
25             1240.000             1240.000             1180.000
26              410.000              420.000              420.000
27             4790.000             4730.000             4720.000
28               70.000               70.000               70.000
29             4710.000             4660.000             4650.000
30             1970.000             1960.000             1960.000
31             2750.000             2710.000             2680.000

    2024-02-01 00:00:00  2024-03-01 00:00:00  2024-04-01 00:00:00  \
0             14680.000            14720.000            14470.000
1             13770.000            13890.000            13710.000
2               910.000              840.000              760.000
3                 0.062                0.057                0.052
4             12600.000            12720.000            12690.000
5               270.000              280.000              260.000
6             12330.000            12440.000            12430.000
7              7540.000             7640.000             7620.000
8              1630.000             1680.000             1660.000
9               840.000              860.000              860.000
10              270.000              280.000              290.000
11              570.000              580.000              570.000
12              790.000              820.000              800.000
13              200.000              200.000              200.000
14              600.000              620.000              600.000
15            10700.000            10760.000            10780.000
16             5910.000             5960.000             5960.000
17             1670.000             1680.000             1680.000
18               50.000               50.000               60.000
19             1410.000             1410.000             1400.000
20              210.000              220.000              220.000
21              150.000              150.000              160.000
22              240.000              240.000              250.000
23              550.000              550.000              560.000
24             1660.000             1670.000             1630.000
25             1220.000             1240.000             1270.000
26              420.000              420.000              430.000
27             4790.000             4800.000             4810.000
28               70.000               70.000               70.000
29             4720.000             4730.000             4740.000
30             1980.000             1990.000             1990.000
31             2730.000             2740.000             2750.000

    2024-05-01 00:00:00  2024-06-01 00:00:00  2024-07-01 00:00:00
0             14530.000             14560.00            14540.000
1             13900.000             13840.00            13730.000
2               630.000               720.00              800.000
3                 0.044                 0.05                0.055
4             12970.000             13080.00            12780.000
5               300.000               340.00              310.000
6             12670.000             12740.00            12470.000
7              7840.000              7910.00             7930.000
8              1780.000              1830.00             1810.000
9               950.000               970.00              980.000
10              310.000               320.00              320.000
11              640.000               650.00              660.000
12              830.000               860.00              830.000
13              200.000               200.00              200.000
14              630.000               660.00              630.000
15            10890.000             10910.00            10660.000
16             6060.000              6090.00             6120.000
17             1710.000              1720.00             1720.000
18               60.000                50.00               50.000
19             1420.000              1430.00             1440.000
20              230.000               240.00              230.000
21              160.000               150.00              150.000
22              250.000               250.00              250.000
23              560.000               570.00              590.000
24             1640.000              1630.00             1610.000
25             1300.000              1330.00             1350.000
26              440.000               440.00              440.000
27             4830.000              4830.00             4540.000
28               80.000                80.00               80.000
29             4750.000              4750.00             4460.000
30             1990.000              2000.00             2010.000
31             2770.000              2750.00             2450.000

[32 rows x 183 columns]

In [2]:
AmadorCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,5,NaN,NaN,1,00-000010,Civilian Labor Force,15610.000,15690.000,...,14490.000,14440.000,14240.000,14400.000,14680.000,14720.000,14470.000,14530.000,14560.00,14540.000
1,2,2023,5,NaN,NaN,1,00-000020,Civilian Employment,13190.000,13270.000,...,13760.000,13710.000,13500.000,13510.000,13770.000,13890.000,13710.000,13900.000,13840.00,13730.000
2,3,2023,5,NaN,NaN,1,00-000030,Civilian Unemployment,2420.000,2420.000,...,740.000,730.000,740.000,890.000,910.000,840.000,760.000,630.000,720.00,800.000
3,4,2023,5,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.155,0.154,...,0.051,0.051,0.052,0.062,0.062,0.057,0.052,0.044,0.05,0.055
4,8,2023,5,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",11320.000,11360.000,...,12720.000,12640.000,12520.000,12310.000,12600.000,12720.000,12690.000,12970.000,13080.00,12780.000

In [5]:
AmadorCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

In [6]:
AmadorCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,15610.000,15690.000,15780.000,15500.000,15540.000,15740.000,15670.000,15470.00,15380.000,...,14490.000,14440.000,14240.000,14400.000,14680.000,14720.000,14470.000,14530.000,14560.00,14540.000
1,Civilian Employment,13190.000,13270.000,13360.000,13260.000,13400.000,13560.000,13490.000,13310.00,13260.000,...,13760.000,13710.000,13500.000,13510.000,13770.000,13890.000,13710.000,13900.000,13840.00,13730.000
2,Civilian Unemployment,2420.000,2420.000,2420.000,2240.000,2140.000,2180.000,2190.000,2160.00,2120.000,...,740.000,730.000,740.000,890.000,910.000,840.000,760.000,630.000,720.00,800.000
3,Civilian Unemployment Rate,0.155,0.154,0.153,0.144,0.138,0.138,0.139,0.14,0.138,...,0.051,0.051,0.052,0.062,0.062,0.057,0.052,0.044,0.05,0.055
4,"Total, All Industries",11320.000,11360.000,11470.000,11390.000,11640.000,11910.000,11610.000,11400.00,11330.000,...,12720.000,12640.000,12520.000,12310.000,12600.000,12720.000,12690.000,12970.000,13080.00,12780.000

In [7]:
titles_df = AmadorCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                                        Manufacturing
13                                        Durable Goods
14                                    Non-Durable Goods
15                                    Service-Providing
16                            Private Service Providing
17                 Trade, Transportation, and Utilities
18                                      Wholesale Trade
19                                         Retail Trade
20            Transportation, Warehousing, and Utili...
21                                          Information
22                                 Financial Activities
23                   Professional and Business Services
24                Private Education and Health Services
25                              Leisure and Hospitality
26                                       Other Services
27                                           Government
28                                   Federal Government
29                     Total State and Local Government
30                                     State Government
31                                     Local Government
Name: TITLE, dtype: object

In [8]:
AmadorCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,15610.000,15690.000,15780.000,15500.000,15540.000,15740.000,15670.000,15470.00,15380.000,...,14490.000,14440.000,14240.000,14400.000,14680.000,14720.000,14470.000,14530.000,14560.00,14540.000
1,Civilian Employment,13190.000,13270.000,13360.000,13260.000,13400.000,13560.000,13490.000,13310.00,13260.000,...,13760.000,13710.000,13500.000,13510.000,13770.000,13890.000,13710.000,13900.000,13840.00,13730.000
2,Civilian Unemployment,2420.000,2420.000,2420.000,2240.000,2140.000,2180.000,2190.000,2160.00,2120.000,...,740.000,730.000,740.000,890.000,910.000,840.000,760.000,630.000,720.00,800.000
3,Civilian Unemployment Rate,0.155,0.154,0.153,0.144,0.138,0.138,0.139,0.14,0.138,...,0.051,0.051,0.052,0.062,0.062,0.057,0.052,0.044,0.05,0.055
4,"Total, All Industries",11320.000,11360.000,11470.000,11390.000,11640.000,11910.000,11610.000,11400.00,11330.000,...,12720.000,12640.000,12520.000,12310.000,12600.000,12720.000,12690.000,12970.000,13080.00,12780.000

In [9]:
AmadorCounty.count

<bound method DataFrame.count of                                                 TITLE  2010-01-01 00:00:00  \
0                                Civilian Labor Force            15610.000
1                                 Civilian Employment            13190.000
2                               Civilian Unemployment             2420.000
3                          Civilian Unemployment Rate                0.155
4                               Total, All Industries            11320.000
5                                          Total Farm              210.000
6                                       Total Nonfarm            11110.000
7                                       Total Private             5890.000
8                                     Goods Producing              940.000
9                    Mining, Logging and Construction              350.000
10                                 Mining and Logging              120.000
11                                       Construction              230.000
12                                      Manufacturing              590.000
13                                      Durable Goods              230.000
14                                  Non-Durable Goods              360.000
15                                  Service-Providing            10170.000
16                          Private Service Providing             4950.000
17               Trade, Transportation, and Utilities             1650.000
18                                    Wholesale Trade               60.000
19                                       Retail Trade             1440.000
20          Transportation, Warehousing, and Utili...              150.000
21                                        Information              180.000
22                               Financial Activities              280.000
23                 Professional and Business Services              380.000
24              Private Education and Health Services             1420.000
25                            Leisure and Hospitality              850.000
26                                     Other Services              190.000
27                                         Government             5220.000
28                                 Federal Government               80.000
29                   Total State and Local Government             5140.000
30                                   State Government             2020.000
31                                   Local Government             3120.000

    2010-02-01 00:00:00  2010-03-01 00:00:00  2010-04-01 00:00:00  \
0             15690.000            15780.000            15500.000
1             13270.000            13360.000            13260.000
2              2420.000             2420.000             2240.000
3                 0.154                0.153                0.144
4             11360.000            11470.000            11390.000
5               280.000              330.000              270.000
6             11080.000            11140.000            11120.000
7              5900.000             5910.000             6030.000
8               960.000              940.000              980.000
9               350.000              330.000              350.000
10              120.000              120.000              130.000
11              230.000              210.000              220.000
12              610.000              610.000              630.000
13              230.000              230.000              240.000
14              380.000              380.000              390.000
15            10120.000            10200.000            10140.000
16             4940.000             4970.000             5050.000
17             1630.000             1640.000             1660.000
18               70.000               70.000               70.000
19             1420.000             1420.000             1440.000
20              140.000              150.000              150.000
21              180.000              180.000              180.000
22              280.000              270.000              280.000
23              370.000              380.000              400.000
24             1410.000             1410.000             1420.000
25              880.000              910.000              940.000
26              190.000              180.000              170.000
27             5180.000             5230.000             5090.000
28               90.000              100.000              100.000
29             5090.000             5130.000             4990.000
30             2000.000             2000.000             1980.000
31             3090.000             3130.000             3010.000

    2010-05-01 00:00:00  2010-06-01 00:00:00  2010-07-01 00:00:00  \
0             15540.000            15740.000            15670.000
1             13400.000            13560.000            13490.000
2              2140.000             2180.000             2190.000
3                 0.138                0.138                0.139
4             11640.000            11910.000            11610.000
5               310.000              450.000              410.000
6             11330.000            11460.000            11200.000
7              6130.000             6210.000             6200.000
8              1040.000             1060.000             1020.000
9               410.000              420.000              410.000
10              150.000              150.000              150.000
11              260.000              270.000              260.000
12              630.000              640.000              610.000
13              240.000              250.000              220.000
14              390.000              390.000              390.000
15            10290.000            10400.000            10180.000
16             5090.000             5150.000             5180.000
17             1670.000             1680.000             1690.000
18               70.000               70.000               70.000
19             1450.000             1450.000             1450.000
20              150.000              160.000              170.000
21              180.000              180.000              180.000
22              280.000              280.000              280.000
23              400.000              400.000              430.000
24             1400.000             1390.000             1380.000
25              970.000             1020.000             1020.000
26              190.000              200.000              200.000
27             5200.000             5250.000             5000.000
28              170.000              160.000              120.000
29             5030.000             5090.000             4880.000
30             1990.000             2000.000             1980.000
31             3040.000             3090.000             2900.000

    2010-08-01 00:00:00  2010-09-01 00:00:00  ...  2023-10-01 00:00:00  \
0              15470.00            15380.000  ...            14490.000
1              13310.00            13260.000  ...            13760.000
2               2160.00             2120.000  ...              740.000
3                  0.14                0.138  ...                0.051
4              11400.00            11330.000  ...            12720.000
5                340.00              340.000  ...              330.000
6              11060.00            10990.000  ...            12390.000
7               6230.00             6150.000  ...             7690.000
8               1020.00             1020.000  ...             1710.000
9                400.00              390.000  ...              890.000
10               150.00              150.000  ...              290.000
11               250.00              240.000  ...              600.000
12               620.00              630.000  ...              820.000
13               230.00              220.000  ...              190.000
14               390.00              410.000  ...              630.000
15             10040.00             9970.000  ...            10670.000
16              5210.00             5130.000  ...             5970.000
17              1740.00             1700.000  ...             1690.000
18                80.00               70.000  ...               50.000
19              1480.00             1460.000  ...             1410.000
20               180.00              170.000  ...              230.000
21               180.00              170.000  ...              150.000
22               280.00              290.000  ...              250.000
23               430.00              420.000  ...              570.000
24              1370.00             1360.000  ...             1650.000
25              1010.00              980.000  ...             1250.000
26               200.00              210.000  ...              410.000
27              4830.00             4840.000  ...             4700.000
28               110.00               90.000  ...               80.000
29              4720.00             4750.000  ...             4620.000
30              1970.00             1950.000  ...             1960.000
31              2750.00             2800.000  ...             2660.000

    2023-11-01 00:00:00  2023-12-01 00:00:00  2024-01-01 00:00:00  \
0             14440.000            14240.000            14400.000
1             13710.000            13500.000            13510.000
2               730.000              740.000              890.000
3                 0.051                0.052                0.062
4             12640.000            12520.000            12310.000
5               210.000              200.000              200.000
6             12430.000            12320.000            12110.000
7              7640.000             7590.000             7400.000
8              1670.000             1630.000             1570.000
9               870.000              840.000              800.000
10              290.000              280.000              260.000
11              580.000              560.000              540.000
12              810.000              800.000              780.000
13              200.000              200.000              200.000
14              610.000              600.000              580.000
15            10760.000            10690.000            10540.000
16             5970.000             5960.000             5820.000
17             1700.000             1680.000             1650.000
18               50.000               50.000               50.000
19             1420.000             1420.000             1390.000
20              230.000              220.000              210.000
21              150.000              160.000              150.000
22              250.000              260.000              240.000
23              560.000              550.000              530.000
24             1650.000             1660.000             1650.000
25             1240.000             1240.000             1180.000
26              410.000              420.000              420.000
27             4790.000             4730.000             4720.000
28               70.000               70.000               70.000
29             4710.000             4660.000             4650.000
30             1970.000             1960.000             1960.000
31             2750.000             2710.000             2680.000

    2024-02-01 00:00:00  2024-03-01 00:00:00  2024-04-01 00:00:00  \
0             14680.000            14720.000            14470.000
1             13770.000            13890.000            13710.000
2               910.000              840.000              760.000
3                 0.062                0.057                0.052
4             12600.000            12720.000            12690.000
5               270.000              280.000              260.000
6             12330.000            12440.000            12430.000
7              7540.000             7640.000             7620.000
8              1630.000             1680.000             1660.000
9               840.000              860.000              860.000
10              270.000              280.000              290.000
11              570.000              580.000              570.000
12              790.000              820.000              800.000
13              200.000              200.000              200.000
14              600.000              620.000              600.000
15            10700.000            10760.000            10780.000
16             5910.000             5960.000             5960.000
17             1670.000             1680.000             1680.000
18               50.000               50.000               60.000
19             1410.000             1410.000             1400.000
20              210.000              220.000              220.000
21              150.000              150.000              160.000
22              240.000              240.000              250.000
23              550.000              550.000              560.000
24             1660.000             1670.000             1630.000
25             1220.000             1240.000             1270.000
26              420.000              420.000              430.000
27             4790.000             4800.000             4810.000
28               70.000               70.000               70.000
29             4720.000             4730.000             4740.000
30             1980.000             1990.000             1990.000
31             2730.000             2740.000             2750.000

    2024-05-01 00:00:00  2024-06-01 00:00:00  2024-07-01 00:00:00
0             14530.000             14560.00            14540.000
1             13900.000             13840.00            13730.000
2               630.000               720.00              800.000
3                 0.044                 0.05                0.055
4             12970.000             13080.00            12780.000
5               300.000               340.00              310.000
6             12670.000             12740.00            12470.000
7              7840.000              7910.00             7930.000
8              1780.000              1830.00             1810.000
9               950.000               970.00              980.000
10              310.000               320.00              320.000
11              640.000               650.00              660.000
12              830.000               860.00              830.000
13              200.000               200.00              200.000
14              630.000               660.00              630.000
15            10890.000             10910.00            10660.000
16             6060.000              6090.00             6120.000
17             1710.000              1720.00             1720.000
18               60.000                50.00               50.000
19             1420.000              1430.00             1440.000
20              230.000               240.00              230.000
21              160.000               150.00              150.000
22              250.000               250.00              250.000
23              560.000               570.00              590.000
24             1640.000              1630.00             1610.000
25             1300.000              1330.00             1350.000
26              440.000               440.00              440.000
27             4830.000              4830.00             4540.000
28               80.000                80.00               80.000
29             4750.000              4750.00             4460.000
30             1990.000              2000.00             2010.000
31             2770.000              2750.00             2450.000

[32 rows x 176 columns]>

In [10]:
# Assuming your DataFrame is called df
columns_2010 = AmadorCounty.iloc[:, 1:13]  # Select the columns for 2010

# Calculate the row-wise average for these columns and round to 2 decimal places
AmadorCounty['2010_Average'] = columns_2010.mean(axis=1).round(2)

# Print the resulting DataFrame with the new '2010_Average' column
print(AmadorCounty[['TITLE', '2010_Average']])

                                                TITLE  2010_Average
0                                Civilian Labor Force      15524.17
1                                 Civilian Employment      13292.50
2                               Civilian Unemployment       2233.33
3                          Civilian Unemployment Rate          0.14
4                               Total, All Industries      11463.33
5                                          Total Farm        331.67
6                                       Total Nonfarm      11131.67
7                                       Total Private       6094.17
8                                     Goods Producing       1002.50
9                    Mining, Logging and Construction        384.17
10                                 Mining and Logging        139.17
11                                       Construction        245.00
12                                      Manufacturing        618.33
13                                      Durable Goods        229.17
14                                  Non-Durable Goods        389.17
15                                  Service-Providing      10129.17
16                          Private Service Providing       5091.67
17               Trade, Transportation, and Utilities       1685.00
18                                    Wholesale Trade         70.00
19                                       Retail Trade       1454.17
20          Transportation, Warehousing, and Utili...        160.83
21                                        Information        179.17
22                               Financial Activities        281.67
23                 Professional and Business Services        408.33
24              Private Education and Health Services       1390.00
25                            Leisure and Hospitality        945.00
26                                     Other Services        202.50
27                                         Government       5037.50
28                                 Federal Government        105.83
29                   Total State and Local Government       4931.67
30                                   State Government       1965.00
31                                   Local Government       2966.67

In [11]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = AmadorCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    AmadorCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = AmadorCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = AmadorCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force      15524.17
1                                 Civilian Employment      13292.50
2                               Civilian Unemployment       2233.33
3                          Civilian Unemployment Rate          0.14
4                               Total, All Industries      11463.33
5                                          Total Farm        331.67
6                                       Total Nonfarm      11131.67
7                                       Total Private       6094.17
8                                     Goods Producing       1002.50
9                    Mining, Logging and Construction        384.17
10                                 Mining and Logging        139.17
11                                       Construction        245.00
12                                      Manufacturing        618.33
13                                      Durable Goods        229.17
14                                  Non-Durable Goods        389.17
15                                  Service-Providing      10129.17
16                          Private Service Providing       5091.67
17               Trade, Transportation, and Utilities       1685.00
18                                    Wholesale Trade         70.00
19                                       Retail Trade       1454.17
20          Transportation, Warehousing, and Utili...        160.83
21                                        Information        179.17
22                               Financial Activities        281.67
23                 Professional and Business Services        408.33
24              Private Education and Health Services       1390.00
25                            Leisure and Hospitality        945.00
26                                     Other Services        202.50
27                                         Government       5037.50
28                                 Federal Government        105.83
29                   Total State and Local Government       4931.67
30                                   State Government       1965.00
31                                   Local Government       2966.67

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0       15075.00      14646.67      14400.83      14322.50      14316.67
1       12989.17      12822.50      12895.83      13118.33      13365.00
2        2087.50       1822.50       1503.33       1204.17        950.83
3           0.14          0.12          0.10          0.08          0.07
4       11121.67      10896.67      11086.67      11351.67      11635.83
5         325.83        327.50        325.00        315.83        311.67
6       10795.83      10569.17      10761.67      11035.83      11324.17
7        6186.67       6335.83       6603.33       6837.50       6979.17
8        1051.67       1180.83       1216.67       1336.67       1407.50
9         378.33        423.33        445.83        525.83        565.00
10        142.50        160.00        150.83        115.83        118.33
11        235.83        263.33        295.00        410.00        446.67
12        673.33        757.50        770.83        810.83        842.50
13        243.33        278.33        265.00        255.00        268.33
14        430.00        479.17        505.83        555.83        574.17
15       9744.17       9388.33       9545.00       9699.17       9916.67
16       5135.00       5155.00       5386.67       5500.83       5571.67
17       1741.67       1754.17       1791.67       1795.00       1792.50
18         82.50         90.00         92.50         87.50         66.67
19       1488.33       1475.00       1463.33       1492.50       1515.00
20        170.83        189.17        235.83        215.00        210.83
21        169.17        157.50        158.33        166.67        174.17
22        276.67        275.00        277.50        277.50        286.67
23        434.17        417.50        434.17        508.33        505.00
24       1349.17       1346.67       1452.50       1485.83       1481.67
25        938.33        977.50       1024.17       1033.33       1079.17
26        225.83        226.67        248.33        234.17        252.50
27       4609.17       4233.33       4158.33       4198.33       4345.00
28         86.67         90.00         85.00         90.83         90.83
29       4522.50       4143.33       4073.33       4107.50       4254.17
30       1680.00       1465.83       1395.83       1440.83       1552.50
31       2842.50       2677.50       2677.50       2666.67       2701.67

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0       14525.00      14693.33      14673.33      14808.33      14474.17
1       13658.33      13958.33      14071.67      14227.50      13118.33
2         867.50        735.00        600.83        580.83       1355.00
3           0.06          0.05          0.04          0.04          0.09
4       12052.50      12427.50      12531.67      12851.67      11875.83
5         341.67        351.67        328.33        317.50        299.17
6       11710.83      12075.83      12203.33      12534.17      11576.67
7        6979.17       7253.33       7390.00       7425.00       6854.17
8        1314.17       1373.33       1450.83       1489.17       1257.50
9         505.83        538.33        614.17        642.50        650.83
10        125.83        127.50        156.67        226.67        228.33
11        380.00        410.83        457.50        415.83        422.50
12        811.67        833.33        839.17        847.50        607.50
13        220.00        231.67        245.83        259.17        187.50
14        590.83        603.33        595.00        589.17        420.00
15      10396.67      10702.50      10754.17      11048.33      10322.50
16       5666.67       5880.00       5940.00       5936.67       5598.33
17       1785.83       1790.00       1793.33       1763.33       1755.00
18         50.00         46.67         43.33         40.00         44.17
19       1538.33       1546.67       1549.17       1521.67       1509.17
20        197.50        196.67        200.83        203.33        201.67
21        168.33        159.17        150.00        145.00        138.33
22        277.50        270.83        270.00        264.17        245.83
23        517.50        511.67        494.17        492.50        431.67
24       1550.00       1641.67       1675.83       1736.67       1685.00
25       1094.17       1219.17       1275.83       1249.17       1051.67
26        280.83        289.17        280.00        288.33        292.50
27       4732.50       4822.50       4815.83       5109.17       4725.83
28         97.50         99.17         88.33         85.83         95.83
29       4635.00       4723.33       4726.67       5024.17       4630.00
30       1838.33       1951.67       1960.00       1962.50       1963.33
31       2798.33       2770.83       2766.67       3061.67       2666.67

    2021_Average  2022_Average  2023_Average  2024_Average
0       14367.50      14280.83      14402.50      14655.76
1       13362.50      13640.00      13674.17      13455.69
2        1005.00        641.67        730.00       1200.07
3           0.07          0.04          0.05          0.08
4       12110.83      12391.67      12488.33      12089.17
5         290.00        280.00        286.67        298.82
6       11820.83      12111.67      12201.67      11790.35
7        7229.17       7461.67       7485.83       7161.46
8        1426.67       1615.00       1618.33       1479.03
9         756.67        855.83        821.67        701.46
10        260.00        286.67        282.50        229.86
11        496.67        569.17        539.17        471.60
12        668.33        761.67        798.33        778.40
13        185.83        195.83        192.50        222.57
14        484.17        567.50        605.83        556.67
15      10393.33      10495.83      10582.50      10312.15
16       5802.50       5845.00       5867.50       5682.43
17       1796.67       1766.67       1690.00       1716.46
18         49.17         54.17         52.50         66.04
19       1526.67       1486.67       1418.33       1439.44
20        220.83        229.17        218.33        210.97
21        125.00        125.00        150.00        158.40
22        242.50        245.83        245.83        259.03
23        436.67        455.83        538.33        509.38
24       1696.67       1611.67       1620.00       1542.85
25       1214.17       1306.67       1232.50       1150.69
26        295.00        338.33        394.17        345.62
27       4592.50       4649.17       4715.83       4629.72
28         74.17         70.83         76.67         81.53
29       4518.33       4580.00       4639.17       4548.19
30       1975.00       1933.33       1958.33       1822.29
31       2544.17       2647.50       2682.50       2725.07

In [12]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,15524.17,15075.00,14646.67,14400.83,14322.50,14316.67,14525.00,14693.33,14673.33,14808.33,14474.17,14367.50,14280.83,14402.50,14655.76
1,Civilian Employment,13292.50,12989.17,12822.50,12895.83,13118.33,13365.00,13658.33,13958.33,14071.67,14227.50,13118.33,13362.50,13640.00,13674.17,13455.69
2,Civilian Unemployment,2233.33,2087.50,1822.50,1503.33,1204.17,950.83,867.50,735.00,600.83,580.83,1355.00,1005.00,641.67,730.00,1200.07
3,Civilian Unemployment Rate,0.14,0.14,0.12,0.10,0.08,0.07,0.06,0.05,0.04,0.04,0.09,0.07,0.04,0.05,0.08
4,"Total, All Industries",11463.33,11121.67,10896.67,11086.67,11351.67,11635.83,12052.50,12427.50,12531.67,12851.67,11875.83,12110.83,12391.67,12488.33,12089.17

In [14]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Amador_county.csv', index=False)  # Set index=False to avoid exporting the row indices