In [1]:
import pandas as pd

# Load the .xls Excel file
VenturaCounty = pd.read_excel("Resources/VENT$HWS.xls", engine='xlrd')

VenturaCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,37100,NaN,NaN,1,00-000010,Civilian Labor Force,426900.000,429200.000,...,413200.000,413800.000,411200.000,413500.000,416900.000,417600.000,413800.000,412500.000,410700.000,412100.00
1,2,2023,37100,NaN,NaN,1,00-000020,Civilian Employment,376900.000,380400.000,...,393400.000,393800.000,391600.000,392000.000,395700.000,398200.000,396200.000,397300.000,392100.000,391400.00
2,3,2023,37100,NaN,NaN,1,00-000030,Civilian Unemployment,50000.000,48800.000,...,19700.000,20000.000,19700.000,21500.000,21200.000,19400.000,17600.000,15300.000,18600.000,20700.00
3,4,2023,37100,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.117,0.114,...,0.048,0.048,0.048,0.052,0.051,0.046,0.042,0.037,0.045,0.05
4,8,2023,37100,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",292700.000,295500.000,...,340000.000,339700.000,340900.000,335000.000,339300.000,341700.000,344700.000,347100.000,346200.000,340800.00

In [2]:
VenturaCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

VenturaCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,426900.000,429200.000,431200.000,435400.000,434000.000,429300.000,430400.000,427900.000,427700.000,...,413200.000,413800.000,411200.000,413500.000,416900.000,417600.000,413800.000,412500.000,410700.000,412100.00
1,Civilian Employment,376900.000,380400.000,382500.000,389300.000,389100.000,382600.000,380800.000,378400.000,380100.000,...,393400.000,393800.000,391600.000,392000.000,395700.000,398200.000,396200.000,397300.000,392100.000,391400.00
2,Civilian Unemployment,50000.000,48800.000,48800.000,46000.000,44900.000,46700.000,49600.000,49500.000,47700.000,...,19700.000,20000.000,19700.000,21500.000,21200.000,19400.000,17600.000,15300.000,18600.000,20700.00
3,Civilian Unemployment Rate,0.117,0.114,0.113,0.106,0.103,0.109,0.115,0.116,0.111,...,0.048,0.048,0.048,0.052,0.051,0.046,0.042,0.037,0.045,0.05
4,"Total, All Industries",292700.000,295500.000,298400.000,307000.000,309900.000,304900.000,297000.000,295000.000,296500.000,...,340000.000,339700.000,340900.000,335000.000,339300.000,341700.000,344700.000,347100.000,346200.000,340800.00

In [3]:
titles_df = VenturaCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                      Mining, Logging and Construction
10                                   Mining and Logging
11                                         Construction
12                          Specialty Trade Contractors
13                                        Manufacturing
14                                        Durable Goods
15              Computer and Electronic Product Manu...
16                                    Non-Durable Goods
17                               Chemical Manufacturing
18                                    Service-Providing
19                            Private Service Providing
20                 Trade, Transportation, and Utilities
21                                      Wholesale Trade
22                                         Retail Trade
23                          Food and Beverage Retailers
24                        General Merchandise Retailers
25              Clothing, Clothing Accessories, Shoe...
26            Transportation, Warehousing, and Utili...
27                       Transportation and Warehousing
28                                          Information
29                                 Financial Activities
30                                Finance and Insurance
31              Credit Intermediation and Related Ac...
32              Insurance Carriers and Related Activ...
33                   Real Estate and Rental and Leasing
34                   Professional and Business Services
35            Professional, Scientific, and Technica...
36              Management of Companies and Enterprises
37            Administrative and Support and Waste a...
38                  Administrative and Support Services
39                                  Employment Services
40                Private Education and Health Services
41                              Leisure and Hospitality
42                      Accommodation and Food Services
43                                       Other Services
44                                           Government
45                                   Federal Government
46              Federal Government excluding Departm...
47                                Department of Defense
48                     Total State and Local Government
49                                     State Government
50                State Government Educational Services
51                 State Government Excluding Education
52                                     Local Government
53                Local Government Educational Services
54                Local Government Excluding Educati...
55                                    County Government
56                                      City Government
57                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = VenturaCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    VenturaCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = VenturaCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = VenturaCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     430225.00
1                                 Civilian Employment     382450.00
2                               Civilian Unemployment      47783.33
3                          Civilian Unemployment Rate          0.11
4                               Total, All Industries     300533.33
5                                          Total Farm      24433.33
6                                       Total Nonfarm     276100.00
7                                       Total Private     231891.67
8                                     Goods Producing      38100.00
9                    Mining, Logging and Construction      12508.33
10                                 Mining and Logging       1200.00
11                                       Construction      11308.33
12                        Specialty Trade Contractors       7875.00
13                                      Manufacturing      25591.67
14                                      Durable Goods      19533.33
15            Computer and Electronic Product Manu...       7008.33
16                                  Non-Durable Goods       6058.33
17                             Chemical Manufacturing       1783.33
18                                  Service-Providing     238000.00
19                          Private Service Providing     193791.67
20               Trade, Transportation, and Utilities      52883.33
21                                    Wholesale Trade      12308.33
22                                       Retail Trade      35275.00
23                        Food and Beverage Retailers       7591.67
24                      General Merchandise Retailers       6191.67
25            Clothing, Clothing Accessories, Shoe...       4925.00
26          Transportation, Warehousing, and Utili...       5300.00
27                     Transportation and Warehousing       4183.33
28                                        Information       5375.00
29                               Financial Activities      20333.33
30                              Finance and Insurance      16008.33
31            Credit Intermediation and Related Ac...       8900.00
32            Insurance Carriers and Related Activ...       6275.00
33                 Real Estate and Rental and Leasing       4325.00
34                 Professional and Business Services      40233.33
35          Professional, Scientific, and Technica...      15283.33
36            Management of Companies and Enterprises       8483.33
37          Administrative and Support and Waste a...      16466.67
38                Administrative and Support Services      15658.33
39                                Employment Services       6833.33
40              Private Education and Health Services      35491.67
41                            Leisure and Hospitality      30300.00
42                    Accommodation and Food Services      25616.67
43                                     Other Services       9175.00
44                                         Government      44208.33
45                                 Federal Government       7766.67
46            Federal Government excluding Departm...       2958.33
47                              Department of Defense       4808.33
48                   Total State and Local Government      36441.67
49                                   State Government       2591.67
50              State Government Educational Services        891.67
51               State Government Excluding Education       1700.00
52                                   Local Government      33850.00
53              Local Government Educational Services      18908.33
54              Local Government Excluding Educati...      14941.67
55                                  County Government       8525.00
56                                    City Government       4358.33
57                      Special Districts plus Tribes       2083.33

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      430908.33     433675.00     432350.00     429175.00     427233.33
1      385958.33     393575.00     397866.67     400325.00     402975.00
2       44950.00      40100.00      34466.67      28866.67      24258.33
3           0.10          0.09          0.08          0.07          0.06
4      303250.00     309958.33     316666.67     319825.00     322275.00
5       25241.67      27091.67      27441.67      26458.33      26333.33
6      278008.33     282866.67     289225.00     293366.67     295941.67
7      233608.33     239241.67     245608.33     249366.67     250541.67
8       37291.67      37241.67      38025.00      40000.00      41050.00
9       12566.67      13050.00      13816.67      15008.33      15175.00
10       1266.67       1266.67       1216.67       1300.00       1025.00
11      11300.00      11783.33      12600.00      13708.33      14150.00
12       7866.67       8025.00       8508.33       9075.00       9533.33
13      24725.00      24191.67      24208.33      24991.67      25875.00
14      18816.67      18233.33      18183.33      18658.33      18841.67
15       6150.00       5391.67       5216.67       5375.00       5558.33
16       5908.33       5958.33       6025.00       6333.33       7033.33
17       1750.00       1875.00       1941.67       2016.67       2583.33
18     240716.67     245625.00     251200.00     253366.67     254891.67
19     196316.67     202000.00     207583.33     209366.67     209491.67
20      54016.67      55316.67      56616.67      57250.00      57691.67
21      12441.67      12475.00      12516.67      12341.67      12083.33
22      36075.00      37100.00      38233.33      38925.00      39625.00
23       7575.00       7700.00       8183.33       8783.33       8950.00
24       6491.67       6391.67       6483.33       6358.33       6433.33
25       5258.33       5383.33       5566.67       5600.00       5375.00
26       5500.00       5741.67       5866.67       5983.33       5983.33
27       4316.67       4575.00       4733.33       4850.00       4933.33
28       5091.67       5375.00       5475.00       5616.67       5316.67
29      20391.67      19600.00      18916.67      18725.00      17741.67
30      16183.33      15416.67      14533.33      14233.33      13483.33
31       9708.33       9558.33       9366.67       8808.33       7983.33
32       5583.33       4966.67       4300.00       4591.67       4833.33
33       4208.33       4183.33       4383.33       4491.67       4258.33
34      39866.67      41341.67      42800.00      41541.67      40466.67
35      15066.67      15691.67      16108.33      15875.00      15833.33
36       8050.00       7625.00       7575.00       7433.33       6650.00
37      16750.00      18025.00      19116.67      18233.33      17983.33
38      15916.67      17216.67      18283.33      17400.00      17283.33
39       7083.33       8091.67       9158.33       8216.67       7791.67
40      36333.33      38183.33      40358.33      41625.00      42916.67
41      31408.33      32766.67      33750.00      34808.33      35708.33
42      26750.00      27858.33      28650.00      29708.33      30491.67
43       9208.33       9416.67       9666.67       9800.00       9650.00
44      44400.00      43625.00      43616.67      44000.00      45400.00
45       7350.00       7150.00       7033.33       6858.33       7100.00
46       2533.33       2300.00       2291.67       2258.33       2250.00
47       4816.67       4850.00       4741.67       4600.00       4850.00
48      37050.00      36475.00      36583.33      37141.67      38300.00
49       2725.00       2733.33       2733.33       2791.67       2875.00
50        958.33       1075.00       1183.33       1283.33       1358.33
51       1766.67       1658.33       1550.00       1508.33       1516.67
52      34325.00      33741.67      33850.00      34350.00      35425.00
53      19375.00      18708.33      18650.00      19116.67      20133.33
54      14950.00      15033.33      15200.00      15233.33      15291.67
55       8600.00       8641.67       8708.33       8825.00       8900.00
56       4258.33       4275.00       4300.00       4183.33       4116.67
57       2091.67       2116.67       2191.67       2225.00       2275.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      425333.33     423675.00     423091.67     421541.67     410066.67
1      403083.33     404475.00     406883.33     406183.33     374275.00
2       22266.67      19225.00      16200.00      15350.00      35800.00
3           0.05          0.05          0.04          0.04          0.09
4      325175.00     328675.00     332825.00     336775.00     315308.33
5       25225.00      23808.33      24308.33      24683.33      24983.33
6      299950.00     304866.67     308516.67     312091.67     290325.00
7      253366.67     257958.33     261650.00     264966.67     245591.67
8       41208.33      42208.33      43891.67      44616.67      43483.33
9       15516.67      16600.00      17683.33      18033.33      17683.33
10        900.00        900.00        858.33        941.67        925.00
11      14616.67      15700.00      16825.00      17091.67      16758.33
12      10008.33      10766.67      11341.67      11033.33      10925.00
13      25691.67      25608.33      26208.33      26583.33      25800.00
14      18625.00      18616.67      19475.00      19416.67      18441.67
15       5475.00       5325.00       5450.00       5416.67       5308.33
16       7066.67       6991.67       6733.33       7166.67       7358.33
17       2566.67       2541.67       2333.33       2708.33       2983.33
18     258741.67     262658.33     264625.00     267475.00     246841.67
19     212158.33     215750.00     217758.33     220350.00     202108.33
20      58241.67      58633.33      58075.00      57133.33      53008.33
21      12475.00      12666.67      12533.33      12466.67      12008.33
22      39725.00      39825.00      39216.67      38333.33      34875.00
23       8833.33       8975.00       8708.33       8608.33       8800.00
24       6458.33       6333.33       6266.67       6091.67       5266.67
25       5275.00       5141.67       4858.33       4475.00       3058.33
26       6041.67       6141.67       6325.00       6333.33       6125.00
27       5041.67       5191.67       5383.33       5400.00       5266.67
28       5266.67       5300.00       5366.67       5241.67       3975.00
29      17408.33      16916.67      16441.67      15850.00      15700.00
30      13150.00      12700.00      12325.00      11616.67      11591.67
31       7891.67       7625.00       7441.67       7058.33       7116.67
32       4741.67       4658.33       4608.33       4391.67       4400.00
33       4258.33       4216.67       4116.67       4233.33       4108.33
34      40850.00      42150.00      42908.33      44350.00      42608.33
35      15841.67      16475.00      16625.00      17366.67      16575.00
36       7066.67       7350.00       7283.33       7641.67       7908.33
37      17941.67      18325.00      19000.00      19341.67      18125.00
38      17216.67      17541.67      18025.00      18341.67      17108.33
39       7433.33       7658.33       8233.33       8550.00       7408.33
40      44416.67      45883.33      47658.33      49600.00      48333.33
41      36375.00      37241.67      37808.33      38525.00      30200.00
42      31158.33      32358.33      32641.67      32841.67      26441.67
43       9600.00       9625.00       9500.00       9650.00       8283.33
44      46583.33      46908.33      46866.67      47125.00      44733.33
45       7383.33       7266.67       7266.67       7408.33       7766.67
46       2166.67       1891.67       1800.00       1783.33       1833.33
47       5216.67       5375.00       5466.67       5625.00       5933.33
48      39200.00      39641.67      39600.00      39716.67      36966.67
49       2933.33       3000.00       3008.33       3075.00       2966.67
50       1433.33       1491.67       1466.67       1483.33       1358.33
51       1500.00       1508.33       1541.67       1591.67       1608.33
52      36266.67      36641.67      36591.67      36641.67      34000.00
53      20800.00      20991.67      21041.67      21141.67      19175.00
54      15466.67      15650.00      15550.00      15500.00      14825.00
55       9158.33       9250.00       9083.33       9083.33       8983.33
56       4016.67       4066.67       4116.67       4091.67       3750.00
57       2291.67       2333.33       2350.00       2325.00       2091.67

    2021_Average  2022_Average  2023_Average  2024_Average
0      406566.67     411108.33     412933.33     421119.44
1      381391.67     395775.00     395283.33     393589.58
2       25191.67      15366.67      17650.00      27538.89
3           0.06          0.04          0.04          0.06
4      323075.00     336250.00     338083.33     328752.78
5       23525.00      24658.33      24125.00      25630.56
6      299550.00     311591.67     313958.33     303122.22
7      255075.00     265450.00     266858.33     256801.39
8       44500.00      45991.67      45791.67      42388.20
9       18033.33      18741.67      19025.00      16579.17
10        891.67        975.00       1000.00       1104.17
11      17141.67      17766.67      18025.00      15475.00
12      11241.67      11658.33      11891.67      10320.83
13      26466.67      27250.00      26766.67      25809.03
14      18316.67      18908.33      19075.00      18852.08
15       5100.00       5000.00       4866.67       5228.47
16       8150.00       8341.67       7691.67       6956.94
17       3325.00       3191.67       2725.00       2297.22
18     255050.00     265600.00     268166.67     260734.03
19     210575.00     219458.33     221066.67     214413.19
20      55666.67      57300.00      56550.00      55773.61
21      12325.00      12458.33      11825.00      11906.94
22      36358.33      36533.33      36375.00      36634.03
23       8808.33       8825.00       9041.67       8519.44
24       5675.00       5758.33       5775.00       6009.72
25       3383.33       3400.00       3466.67       4169.44
26       6983.33       8308.33       8350.00       7232.64
27       6150.00       7475.00       7425.00       6221.53
28       3916.67       4008.33       3741.67       4277.78
29      16100.00      16058.33      15325.00      16997.22
30      11741.67      11316.67      10791.67      12572.92
31       7125.00       6283.33       5316.67       6878.47
32       4225.00       4225.00       4358.33       4709.72
33       4358.33       4741.67       4533.33       4424.30
34      43641.67      44258.33      43550.00      42873.61
35      17283.33      18125.00      17658.33      17210.42
36       7875.00       8016.67       8200.00       8030.56
37      18483.33      18116.67      17691.67      17632.64
38      17450.00      16975.00      16425.00      16589.58
39       7341.67       7033.33       6175.00       6898.61
40      49566.67      51225.00      53925.00      48774.30
41      32800.00      37208.33      38258.33      36044.44
42      29116.67      32683.33      33500.00      31256.94
43       8883.33       9400.00       9716.67       9672.22
44      44475.00      46141.67      47100.00      46320.83
45       7608.33       7408.33       7375.00       7329.86
46       1700.00       1700.00       1608.33       1903.47
47       5908.33       5708.33       5766.67       5426.39
48      36866.67      38733.33      39725.00      38990.97
49       2733.33       2825.00       2675.00       2597.92
50       1208.33       1325.00       1416.67       1274.30
51       1525.00       1500.00       1258.33       1323.61
52      34133.33      35908.33      37050.00      36393.06
53      19091.67      20241.67      20800.00      20263.19
54      15041.67      15666.67      16250.00      16129.86
55       9258.33       9650.00       9908.33       9641.67
56       3658.33       3825.00       4000.00       4197.92
57       2125.00       2191.67       2341.67       2292.36

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,430225.00,430908.33,433675.00,432350.00,429175.00,427233.33,425333.33,423675.00,423091.67,421541.67,410066.67,406566.67,411108.33,412933.33,421119.44
1,Civilian Employment,382450.00,385958.33,393575.00,397866.67,400325.00,402975.00,403083.33,404475.00,406883.33,406183.33,374275.00,381391.67,395775.00,395283.33,393589.58
2,Civilian Unemployment,47783.33,44950.00,40100.00,34466.67,28866.67,24258.33,22266.67,19225.00,16200.00,15350.00,35800.00,25191.67,15366.67,17650.00,27538.89
3,Civilian Unemployment Rate,0.11,0.10,0.09,0.08,0.07,0.06,0.05,0.05,0.04,0.04,0.09,0.06,0.04,0.04,0.06
4,"Total, All Industries",300533.33,303250.00,309958.33,316666.67,319825.00,322275.00,325175.00,328675.00,332825.00,336775.00,315308.33,323075.00,336250.00,338083.33,328752.78

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Ventura_county.csv', index=False)  # Set index=False to avoid exporting the row indices