In [29]:
## INDUSTRY BY COUNTY DATA - Alanis Perez

In [55]:
import pandas as pd
import glob
import matplotlib.pyplot as plt

# Ignore all warnings
import warnings
warnings.filterwarnings("ignore")

In [33]:
# Create a list to hold files for all 58 counties
dataframes = []

# Loop through all CSV files in the directory
for county in glob.glob("data/*.csv"):
    # Read the CSV file
    
    county_df = pd.read_csv(county)
    
    # Extract county name from the filename, assign county ID to be name of county
    county_id = county.split("/")[-1].replace(".csv", "").replace("data\\", "").replace("_county", "")
    county_df['County_ID'] = county_id
    
    # Append the DataFrame to the list
    dataframes.append(county_df)

# Concatenate all DataFrames into one
combined_df = pd.concat(dataframes, ignore_index=True)

# Export to JSON
combined_df.to_json("industry_county.json", orient="records")

In [85]:
industry_df = pd.read_json('industry_county.json')
industry_df = industry_df.set_index("County_ID")
industry_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
County_ID,,,,,,,,,,,,,,,,
Alameda,Civilian Labor Force,782658.33,785125.00,796458.33,799850.00,806325.00,819016.67,831816.67,838183.33,841566.67,841541.67,818100.00,811166.67,819825.00,826108.33,811376.39
Alameda,Civilian Employment,695350.00,704591.67,726133.33,741225.00,758808.33,779891.67,796025.00,807108.33,815850.00,816475.00,745108.33,761783.33,792350.00,792458.33,760250.69
Alameda,Civilian Unemployment,87333.33,80525.00,70333.33,58625.00,47500.00,39108.33,35791.67,31075.00,25733.33,25050.00,72991.67,49375.00,27458.33,33658.33,51126.39
Alameda,Civilian Unemployment Rate,0.11,0.10,0.09,0.07,0.06,0.05,0.04,0.04,0.03,0.03,0.09,0.06,0.03,0.04,0.06
Alameda,"Total, All Industries",653591.67,662441.67,682800.00,701625.00,720633.33,749433.33,771908.33,790300.00,807450.00,815150.00,751950.00,777083.33,804900.00,813583.33,684218.33

In [89]:
# alameda_df = industry_df[["County_ID" == "Alameda_County"]]
# alameda_df.head()