In [1]:
import pandas as pd

# Load the .xls Excel file
FresnoCounty = pd.read_excel("Resources/FRSN$HWS.xls", engine='xlrd')

FresnoCounty.head()

,SORTORDER,BMYEAR,AREA,INCLUDES,BREAKS,PNCO,SS-NAICS,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1,2023,23420,NaN,NaN,1,00-000010,Civilian Labor Force,434900.000,438000.000,...,461900.000,462000.000,461400.000,464700.000,470300.000,466700.000,462600.000,460500.000,459400.000,460700.000
1,2,2023,23420,NaN,NaN,1,00-000020,Civilian Employment,354900.000,355100.000,...,428900.000,426500.000,423900.000,423500.000,425000.000,423900.000,423400.000,427400.000,424100.000,423600.000
2,3,2023,23420,NaN,NaN,1,00-000030,Civilian Unemployment,80000.000,82900.000,...,33000.000,35500.000,37500.000,41100.000,45400.000,42800.000,39100.000,33000.000,35300.000,37200.000
3,4,2023,23420,NaN,NaN,1,00-000040,Civilian Unemployment Rate,0.184,0.189,...,0.071,0.077,0.081,0.088,0.096,0.092,0.085,0.072,0.077,0.081
4,8,2023,23420,"110000-813000, 920000",NaN,1,01-000000,"Total, All Industries",322100.000,321700.000,...,433500.000,430400.000,431600.000,422900.000,426000.000,424100.000,428700.000,435400.000,436400.000,431300.000

In [2]:
FresnoCounty.drop(['SORTORDER', 'BMYEAR', 'AREA', 'INCLUDES', 'BREAKS', 'PNCO', 'SS-NAICS'], axis=1, inplace=True)

FresnoCounty.head()

,TITLE,2010-01-01 00:00:00,2010-02-01 00:00:00,2010-03-01 00:00:00,2010-04-01 00:00:00,2010-05-01 00:00:00,2010-06-01 00:00:00,2010-07-01 00:00:00,2010-08-01 00:00:00,2010-09-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,Civilian Labor Force,434900.000,438000.000,436500.000,440100.000,445300.000,443400.000,442300.000,444500.000,446900.000,...,461900.000,462000.000,461400.000,464700.000,470300.000,466700.000,462600.000,460500.000,459400.000,460700.000
1,Civilian Employment,354900.000,355100.000,354500.000,364600.000,373400.000,370900.000,368600.000,373600.000,378600.000,...,428900.000,426500.000,423900.000,423500.000,425000.000,423900.000,423400.000,427400.000,424100.000,423600.000
2,Civilian Unemployment,80000.000,82900.000,82000.000,75500.000,71900.000,72600.000,73700.000,70800.000,68300.000,...,33000.000,35500.000,37500.000,41100.000,45400.000,42800.000,39100.000,33000.000,35300.000,37200.000
3,Civilian Unemployment Rate,0.184,0.189,0.188,0.172,0.161,0.164,0.167,0.159,0.153,...,0.071,0.077,0.081,0.088,0.096,0.092,0.085,0.072,0.077,0.081
4,"Total, All Industries",322100.000,321700.000,321700.000,334300.000,347900.000,347800.000,339300.000,344900.000,351100.000,...,433500.000,430400.000,431600.000,422900.000,426000.000,424100.000,428700.000,435400.000,436400.000,431300.000

In [3]:
titles_df = FresnoCounty["TITLE"]
titles_df

0                                  Civilian Labor Force
1                                   Civilian Employment
2                                 Civilian Unemployment
3                            Civilian Unemployment Rate
4                                 Total, All Industries
5                                            Total Farm
6                                         Total Nonfarm
7                                         Total Private
8                                       Goods Producing
9                     Mining, Logging, and Construction
10                                   Mining and Logging
11                                         Construction
12                          Specialty Trade Contractors
13                                        Manufacturing
14                                        Durable Goods
15                                    Non-Durable Goods
16                                   Food Manufacturing
17                                    Service-Providing
18                            Private Service Providing
19                 Trade, Transportation, and Utilities
20                                      Wholesale Trade
21                                         Retail Trade
22                          Food and Beverage Retailers
23                        General Merchandise Retailers
24            Transportation, Warehousing, and Utili...
25                       Transportation and Warehousing
26                                          Information
27                                 Financial Activities
28                                Finance and Insurance
29              Insurance Carriers and Related Activ...
30                   Real Estate and Rental and Leasing
31                   Professional and Business Services
32            Professional, Scientific, and Technica...
33              Management of Companies and Enterprises
34            Administrative and Support and Waste a...
35                  Administrative and Support Services
36              Waste Management and Remediation Ser...
37                Private Education and Health Services
38                         Private Educational Services
39                    Health Care and Social Assistance
40                      Ambulatory Health Care Services
41                                            Hospitals
42                Nursing and Residential Care Facil...
43                                    Social Assistance
44                              Leisure and Hospitality
45                      Accommodation and Food Services
46                    Food Services and Drinking Places
47                                       Other Services
48                                           Government
49                                   Federal Government
50                     Total State and Local Government
51                                     State Government
52                   State Government Educational Se...
53                                     Local Government
54                Local Government Educational Services
55              Local Government excluding Education...
56                                    County Government
57                                      City Government
58                        Special Districts plus Tribes
Name: TITLE, dtype: object

In [4]:
# Create an empty DataFrame to store the averages for each year
averaged_years_df = pd.DataFrame()

# Loop through each year from 2010 to 2024
for year in range(2010, 2025):
    # Adjust the column range based on your DataFrame structure
    # Replace '1:13' with the actual column range for each year
    start_col = (year - 2010) * 12 + 1  # Adjust column index logic as per your DataFrame structure
    end_col = start_col + 12
    
    # Select the columns for the current year
    columns_for_year = FresnoCounty.iloc[:, start_col:end_col]
    
    # Calculate the row-wise average for these columns and round to 2 decimal places
    FresnoCounty[f'{year}_Average'] = columns_for_year.mean(axis=1).round(2)
    
    # Add the year and its average column to the new DataFrame
    averaged_years_df[f'{year}_Average'] = FresnoCounty[f'{year}_Average']

# Add the 'TITLE' column to the new DataFrame
averaged_years_df['TITLE'] = FresnoCounty['TITLE']

# Reorder columns to put 'TITLE' at the front
averaged_years_df = averaged_years_df[['TITLE'] + [col for col in averaged_years_df.columns if col != 'TITLE']]

# Print or inspect the new DataFrame with averages from 2010 to 2024 and the TITLE column
print(averaged_years_df)

                                                TITLE  2010_Average  \
0                                Civilian Labor Force     440575.00
1                                 Civilian Employment     365283.33
2                               Civilian Unemployment      75283.33
3                          Civilian Unemployment Rate          0.17
4                               Total, All Industries     336516.67
5                                          Total Farm      46008.33
6                                       Total Nonfarm     290508.33
7                                       Total Private     223441.67
8                                     Goods Producing      36341.67
9                   Mining, Logging, and Construction      12208.33
10                                 Mining and Logging        200.00
11                                       Construction      12008.33
12                        Specialty Trade Contractors       7725.00
13                                      Manufacturing      24133.33
14                                      Durable Goods       8041.67
15                                  Non-Durable Goods      16091.67
16                                 Food Manufacturing      12283.33
17                                  Service-Providing     254166.67
18                          Private Service Providing     187100.00
19               Trade, Transportation, and Utilities      55150.00
20                                    Wholesale Trade      11308.33
21                                       Retail Trade      33016.67
22                        Food and Beverage Retailers       6691.67
23                      General Merchandise Retailers       6800.00
24          Transportation, Warehousing, and Utili...      10825.00
25                     Transportation and Warehousing       8900.00
26                                        Information       3566.67
27                               Financial Activities      13375.00
28                              Finance and Insurance       9291.67
29            Insurance Carriers and Related Activ...       4275.00
30                 Real Estate and Rental and Leasing       4083.33
31                 Professional and Business Services      26891.67
32          Professional, Scientific, and Technica...      10425.00
33            Management of Companies and Enterprises       2266.67
34          Administrative and Support and Waste a...      14200.00
35                Administrative and Support Services      13300.00
36            Waste Management and Remediation Ser...        900.00
37              Private Education and Health Services      51358.33
38                       Private Educational Services       4833.33
39                  Health Care and Social Assistance      46525.00
40                    Ambulatory Health Care Services      14108.33
41                                          Hospitals      10291.67
42              Nursing and Residential Care Facil...       6541.67
43                                  Social Assistance      15583.33
44                            Leisure and Hospitality      26783.33
45                    Accommodation and Food Services      23833.33
46                  Food Services and Drinking Places      21666.67
47                                     Other Services       9975.00
48                                         Government      67066.67
49                                 Federal Government      10691.67
50                   Total State and Local Government      56375.00
51                                   State Government      10491.67
52                 State Government Educational Se...       2958.33
53                                   Local Government      45883.33
54              Local Government Educational Services      29400.00
55            Local Government excluding Education...      16483.33
56                                  County Government       7466.67
57                                    City Government       5383.33
58                      Special Districts plus Tribes       3633.33

    2011_Average  2012_Average  2013_Average  2014_Average  2015_Average  \
0      443258.33     439483.33     436633.33     437625.00     440316.67
1      368783.33     371975.00     378050.00     386350.00     395175.00
2       74491.67      67525.00      58566.67      51241.67      45133.33
3           0.17          0.15          0.13          0.12          0.10
4      339175.00     342516.67     351491.67     361475.00     371808.33
5       47850.00      48891.67      49241.67      48775.00      47266.67
6      291325.00     293625.00     302250.00     312700.00     324541.67
7      225591.67     229533.33     238083.33     246441.67     255866.67
8       35541.67      36066.67      36491.67      38108.33      40675.00
9       11733.33      12408.33      13416.67      14150.00      15325.00
10        200.00        250.00        275.00        300.00        300.00
11      11533.33      12158.33      13141.67      13850.00      15025.00
12       7550.00       7925.00       8575.00       8833.33       9791.67
13      23808.33      23658.33      23075.00      23958.33      25350.00
14       7808.33       7708.33       7750.00       7991.67       8266.67
15      16000.00      15950.00      15325.00      15966.67      17083.33
16      11950.00      12033.33      11608.33      12125.00      12941.67
17     255783.33     257558.33     265758.33     274591.67     283866.67
18     190050.00     193466.67     201591.67     208333.33     215191.67
19      57341.67      58108.33      60641.67      61916.67      63400.00
20      12325.00      12625.00      13341.67      13475.00      13516.67
21      33583.33      33933.33      35325.00      36533.33      37583.33
22       6841.67       6916.67       7383.33       7733.33       8008.33
23       6966.67       7283.33       7650.00       7875.00       8308.33
24      11433.33      11550.00      11975.00      11908.33      12300.00
25       9441.67       9516.67       9875.00       9741.67      10075.00
26       3508.33       3791.67       3800.00       3858.33       3883.33
27      12975.00      12858.33      12908.33      12791.67      13116.67
28       8933.33       8816.67       8675.00       8400.00       8541.67
29       4141.67       4050.00       4183.33       4316.67       4566.67
30       4041.67       4041.67       4233.33       4391.67       4575.00
31      27158.33      27058.33      29250.00      31283.33      31841.67
32      10158.33       9808.33      10141.67      10466.67      10433.33
33       2258.33       2200.00       2375.00       2425.00       2325.00
34      14741.67      15050.00      16733.33      18391.67      19083.33
35      13691.67      13883.33      15500.00      17200.00      17900.00
36       1050.00       1166.67       1233.33       1191.67       1183.33
37      51833.33      53025.00      55100.00      56691.67      59991.67
38       5158.33       5166.67       4600.00       4241.67       4000.00
39      46675.00      47858.33      50500.00      52450.00      55991.67
40      14225.00      14591.67      15241.67      15500.00      16475.00
41      10400.00      10850.00      11216.67      11916.67      12458.33
42       6983.33       7166.67       7250.00       7300.00       7516.67
43      15066.67      15250.00      16791.67      17733.33      19541.67
44      27108.33      28016.67      28975.00      30575.00      31425.00
45      24208.33      24833.33      25791.67      27166.67      27983.33
46      21983.33      22725.00      23708.33      25125.00      25891.67
47      10125.00      10608.33      10916.67      11216.67      11533.33
48      65733.33      64091.67      64166.67      66258.33      68675.00
49      10175.00      10191.67       9941.67       9791.67       9583.33
50      55558.33      53900.00      54225.00      56466.67      59091.67
51      10675.00      10541.67      10608.33      11366.67      11866.67
52       3158.33       3141.67       3266.67       3441.67       3583.33
53      44883.33      43358.33      43616.67      45100.00      47225.00
54      29250.00      28750.00      28741.67      29741.67      31350.00
55      15633.33      14608.33      14875.00      15358.33      15875.00
56       7133.33       6575.00       6783.33       6883.33       7166.67
57       5016.67       4791.67       4750.00       4958.33       5033.33
58       3483.33       3241.67       3341.67       3516.67       3675.00

    2016_Average  2017_Average  2018_Average  2019_Average  2020_Average  \
0      444733.33     444466.67     446175.00     450566.67     445641.67
1      402366.67     406283.33     412391.67     417616.67     393750.00
2       42366.67      38183.33      33766.67      32933.33      51875.00
3           0.10          0.09          0.08          0.07          0.12
4      383275.00     390208.33     398341.67     407425.00     387333.33
5       46908.33      46116.67      44225.00      44133.33      40275.00
6      336366.67     344091.67     354116.67     363291.67     347058.33
7      265408.33     271483.33     279583.33     288108.33     274575.00
8       41541.67      43275.00      44866.67      45433.33      44766.67
9       16358.33      17716.67      19008.33      19283.33      18966.67
10        316.67        300.00        300.00        241.67        200.00
11      16041.67      17416.67      18708.33      19041.67      18766.67
12      10558.33      11875.00      12658.33      12875.00      12700.00
13      25183.33      25558.33      25858.33      26150.00      25800.00
14       8166.67       8591.67       9050.00       9175.00       8866.67
15      17016.67      16966.67      16808.33      16975.00      16933.33
16      12991.67      12708.33      12300.00      12308.33      12241.67
17     294825.00     300816.67     309250.00     317858.33     302291.67
18     223866.67     228208.33     234716.67     242675.00     229808.33
19      66066.67      67016.67      68825.00      70016.67      69600.00
20      14033.33      14083.33      14391.67      14683.33      14441.67
21      38791.67      38850.00      39083.33      38691.67      36875.00
22       8358.33       8191.67       8050.00       7883.33       7950.00
23       8391.67       8266.67       8650.00       8916.67       8608.33
24      13241.67      14083.33      15350.00      16641.67      18283.33
25      10950.00      11766.67      13050.00      14350.00      15858.33
26       3750.00       3616.67       3566.67       3441.67       2950.00
27      13316.67      13758.33      14125.00      14258.33      13533.33
28       8741.67       8991.67       9158.33       9341.67       8758.33
29       4716.67       4891.67       5066.67       5366.67       4983.33
30       4575.00       4766.67       4966.67       4916.67       4775.00
31      32350.00      31083.33      32516.67      34633.33      32125.00
32      10600.00      10883.33      11158.33      11558.33      11275.00
33       2525.00       2525.00       2433.33       2408.33       2650.00
34      19225.00      17675.00      18925.00      20666.67      18200.00
35      17925.00      16316.67      17516.67      19333.33      16875.00
36       1300.00       1358.33       1408.33       1333.33       1325.00
37      63875.00      67208.33      69275.00      72500.00      71733.33
38       3933.33       3858.33       3791.67       3941.67       3633.33
39      59941.67      63350.00      65483.33      68558.33      68100.00
40      17416.67      18008.33      18450.00      19691.67      19450.00
41      13366.67      13925.00      14158.33      14300.00      14150.00
42       7550.00       7600.00       8008.33       8141.67       8100.00
43      21608.33      23816.67      24866.67      26425.00      26400.00
44      32766.67      33766.67      34533.33      35708.33      28758.33
45      29333.33      30233.33      30875.00      32033.33      26533.33
46      27066.67      27658.33      28291.67      29291.67      24583.33
47      11741.67      11758.33      11875.00      12116.67      11108.33
48      70958.33      72608.33      74533.33      75183.33      72483.33
49       9825.00       9816.67       9958.33      10066.67      10841.67
50      61133.33      62791.67      64575.00      65116.67      61641.67
51      12125.00      12375.00      12633.33      12783.33      12491.67
52       3733.33       3900.00       3966.67       3866.67       3600.00
53      49008.33      50416.67      51941.67      52333.33      49150.00
54      32658.33      33983.33      35366.67      35541.67      32666.67
55      16350.00      16433.33      16575.00      16791.67      16483.33
56       7533.33       7533.33       7700.00       7950.00       8125.00
57       5308.33       5583.33       5750.00       5775.00       5625.00
58       3508.33       3316.67       3125.00       3066.67       2733.33

    2021_Average  2022_Average  2023_Average  2024_Average
0      443525.00     450100.00     461050.00     453539.58
1      402975.00     420883.33     426616.67     403445.14
2       40550.00      29216.67      34416.67      50084.03
3           0.09          0.06          0.07          0.11
4      399316.67     418658.33     426850.00     394664.58
5       40500.00      40641.67      40733.33      41905.56
6      358816.67     378016.67     386116.67     352759.03
7      287908.33     304433.33     309983.33     279582.64
8       46575.00      49458.33      49641.67      44245.83
9       20466.67      22491.67      22925.00      18876.39
10        250.00        216.67        241.67        277.08
11      20216.67      22275.00      22683.33      18599.30
12      13575.00      15000.00      15308.33      12367.36
13      26108.33      26966.67      26716.67      25369.44
14       9141.67       9383.33       8883.33       8308.33
15      16966.67      17583.33      17833.33      17061.11
16      12316.67      12975.00      13250.00      12875.00
17     312241.67     328558.33     336475.00     308513.19
18     241333.33     254975.00     260341.67     235336.81
19      73458.33      76550.00      76350.00      68904.86
20      14891.67      15991.67      16000.00      14606.25
21      39108.33      39950.00      40333.33      37707.64
22       8158.33       8100.00       7941.67       7455.56
23       9250.00       9350.00       9375.00       8339.58
24      19458.33      20608.33      20016.67      16590.97
25      16883.33      17866.67      17250.00      14206.25
26       2950.00       3241.67       2983.33       3085.42
27      13083.33      12800.00      12541.67      12625.69
28       8250.00       7775.00       7425.00       7868.06
29       4550.00       4025.00       3708.33       3838.89
30       4833.33       5025.00       5116.67       4757.64
31      32183.33      33675.00      32841.67      30828.47
32      11558.33      11908.33      11908.33      11116.67
33       2775.00       2800.00       3008.33       2752.08
34      17850.00      18966.67      17925.00      16959.72
35      16491.67      17550.00      16433.33      15564.58
36       1358.33       1416.67       1491.67       1395.14
37      74808.33      78833.33      83416.67      72842.36
38       3908.33       4433.33       4891.67       4733.33
39      70900.00      74400.00      78525.00      68109.03
40      21250.00      22341.67      23241.67      20222.22
41      14641.67      15283.33      16283.33      14339.58
42       7708.33       7725.00       7658.33       7528.47
43      27300.00      29050.00      31341.67      26018.75
44      32850.00      36900.00      38025.00      34113.19
45      29625.00      32600.00      33083.33      29702.78
46      27466.67      30216.67      30558.33      27542.36
47      12000.00      12975.00      14183.33      12936.81
48      70908.33      73583.33      76133.33      73176.39
49      10108.33       9591.67       9591.67       9815.97
50      60800.00      63991.67      66541.67      63360.42
51      12091.67      12383.33      12566.67      11998.61
52       3300.00       3566.67       3683.33       3513.89
53      48708.33      51608.33      53975.00      51361.80
54      32558.33      34966.67      36725.00      34515.28
55      16150.00      16641.67      17250.00      16846.53
56       7916.67       7808.33       7783.33       7620.14
57       5716.67       6000.00       6366.67       5958.33
58       2516.67       2833.33       3100.00       3268.06

In [5]:
averaged_years_df.head()

,TITLE,2010_Average,2011_Average,2012_Average,2013_Average,2014_Average,2015_Average,2016_Average,2017_Average,2018_Average,2019_Average,2020_Average,2021_Average,2022_Average,2023_Average,2024_Average
0,Civilian Labor Force,440575.00,443258.33,439483.33,436633.33,437625.00,440316.67,444733.33,444466.67,446175.00,450566.67,445641.67,443525.00,450100.00,461050.00,453539.58
1,Civilian Employment,365283.33,368783.33,371975.00,378050.00,386350.00,395175.00,402366.67,406283.33,412391.67,417616.67,393750.00,402975.00,420883.33,426616.67,403445.14
2,Civilian Unemployment,75283.33,74491.67,67525.00,58566.67,51241.67,45133.33,42366.67,38183.33,33766.67,32933.33,51875.00,40550.00,29216.67,34416.67,50084.03
3,Civilian Unemployment Rate,0.17,0.17,0.15,0.13,0.12,0.10,0.10,0.09,0.08,0.07,0.12,0.09,0.06,0.07,0.11
4,"Total, All Industries",336516.67,339175.00,342516.67,351491.67,361475.00,371808.33,383275.00,390208.33,398341.67,407425.00,387333.33,399316.67,418658.33,426850.00,394664.58

In [6]:
# Export the DataFrame to a CSV file
averaged_years_df.to_csv('Fresno_county.csv', index=False)  # Set index=False to avoid exporting the row indices