In [2]:
# WORKING SCRIPT - ALANIS

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as num

# Ignore all warnings
import warnings
warnings.filterwarnings("ignore")

In [6]:
# Read CSV files
# Median Homevalue
home_data_path = "data/avg_cost_by_county.csv"
home_data = pd.read_csv(home_data_path)

# Arrest Records
crime_data_path = "data/crime_by_county.csv"
crime_data = pd.read_csv(crime_data_path)

In [8]:
# Filter home data to CA only
home_df = home_data[home_data['State'] == 'CA']
home_df.head()

,RegionID,SizeRank,RegionName,State,1/31/2004,2/29/2004,3/31/2004,4/30/2004,5/31/2004,6/30/2004,...,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024
0,3101,0,Los Angeles County,CA,359637.887854,365587.644879,371964.449058,379899.180522,389740.328886,399902.550401,...,8.699550e+05,8.780677e+05,8.830974e+05,8.820560e+05,8.771504e+05,8.732556e+05,8.739083e+05,8.771538e+05,8.792955e+05,8.830360e+05
4,2841,4,San Diego County,CA,398657.715678,404627.790326,413281.930706,421490.824884,429782.054434,442327.588370,...,9.025327e+05,9.090164e+05,9.124351e+05,9.147283e+05,9.193116e+05,9.276140e+05,9.379771e+05,9.468492e+05,9.513943e+05,9.528563e+05
5,1286,5,Orange County,CA,458896.266885,468073.348388,481813.802378,495424.699157,510176.798158,525516.743374,...,1.084817e+06,1.096047e+06,1.103526e+06,1.107221e+06,1.109519e+06,1.116254e+06,1.128691e+06,1.143474e+06,1.153868e+06,1.161599e+06
9,2832,9,Riverside County,CA,256206.928900,259733.009456,264097.815811,269462.124990,275191.182200,282795.503609,...,5.904493e+05,5.930607e+05,5.953860e+05,5.973129e+05,5.994030e+05,6.020490e+05,6.049911e+05,6.079180e+05,6.096283e+05,6.110266e+05
13,3250,13,San Bernardino County,CA,212230.989893,216081.062886,220643.904351,225634.413575,230739.620461,235869.558118,...,5.345444e+05,5.392195e+05,5.435988e+05,5.457050e+05,5.461188e+05,5.461116e+05,5.470725e+05,5.492992e+05,5.511573e+05,5.529189e+05

In [10]:
# Filter crime data file
crime_data_rows = crime_data[["YEAR", "COUNTY", "VIOLENT", "PROPERTY", "F_DRUGOFF", "F_SEXOFF", "F_ALLOTHER", "F_TOTAL", "M_TOTAL", "S_TOTAL"]]
crime_data_rows.head()

,YEAR,COUNTY,VIOLENT,PROPERTY,F_DRUGOFF,F_SEXOFF,F_ALLOTHER,F_TOTAL,M_TOTAL,S_TOTAL
0,1980,Alameda County,505,1351,188,26,79,2149,2286,295
1,1980,Alameda County,205,465,183,8,48,909,1333,0
2,1980,Alameda County,949,1593,606,27,178,3353,7974,0
3,1980,Alameda County,450,755,241,18,110,1574,4876,0
4,1980,Alameda County,172,218,117,11,66,584,3836,0

In [12]:
desired_years = [2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023]
crime_years_df = crime_data_rows[crime_data_rows['YEAR'].isin(desired_years)]
crime_years_df.head()

,YEAR,COUNTY,VIOLENT,PROPERTY,F_DRUGOFF,F_SEXOFF,F_ALLOTHER,F_TOTAL,M_TOTAL,S_TOTAL
57581,2004,Alameda County,363,406,157,22,61,1009,881,114
57582,2004,Alameda County,149,158,275,8,47,637,625,0
57583,2004,Alameda County,479,599,992,41,235,2346,3144,0
57584,2004,Alameda County,307,407,614,19,165,1512,2320,0
57585,2004,Alameda County,368,598,1043,31,233,2273,4483,0

In [14]:
crime_df = crime_years_df.groupby(['YEAR', 'COUNTY'], as_index=False).agg({
    'VIOLENT': 'sum', 'PROPERTY': 'sum', 'F_DRUGOFF': 'sum',
    'F_SEXOFF': 'sum', 'F_ALLOTHER': 'sum', 'F_TOTAL': 'sum',
    'M_TOTAL': 'sum', 'S_TOTAL': 'sum'})
crime_df.head()

,YEAR,COUNTY,VIOLENT,PROPERTY,F_DRUGOFF,F_SEXOFF,F_ALLOTHER,F_TOTAL,M_TOTAL,S_TOTAL
0,2004,Alameda County,4301,6391,6886,296,2185,20059,41495,553
1,2004,Alpine County,7,9,6,0,4,26,136,1
2,2004,Amador County,111,107,147,4,245,614,1131,1
3,2004,Butte County,609,812,486,46,392,2345,7645,42
4,2004,Calaveras County,199,142,179,18,88,626,1468,17

In [16]:
home_df.head()

,RegionID,SizeRank,RegionName,State,1/31/2004,2/29/2004,3/31/2004,4/30/2004,5/31/2004,6/30/2004,...,10/31/2023,11/30/2023,12/31/2023,1/31/2024,2/29/2024,3/31/2024,4/30/2024,5/31/2024,6/30/2024,7/31/2024
0,3101,0,Los Angeles County,CA,359637.887854,365587.644879,371964.449058,379899.180522,389740.328886,399902.550401,...,8.699550e+05,8.780677e+05,8.830974e+05,8.820560e+05,8.771504e+05,8.732556e+05,8.739083e+05,8.771538e+05,8.792955e+05,8.830360e+05
4,2841,4,San Diego County,CA,398657.715678,404627.790326,413281.930706,421490.824884,429782.054434,442327.588370,...,9.025327e+05,9.090164e+05,9.124351e+05,9.147283e+05,9.193116e+05,9.276140e+05,9.379771e+05,9.468492e+05,9.513943e+05,9.528563e+05
5,1286,5,Orange County,CA,458896.266885,468073.348388,481813.802378,495424.699157,510176.798158,525516.743374,...,1.084817e+06,1.096047e+06,1.103526e+06,1.107221e+06,1.109519e+06,1.116254e+06,1.128691e+06,1.143474e+06,1.153868e+06,1.161599e+06
9,2832,9,Riverside County,CA,256206.928900,259733.009456,264097.815811,269462.124990,275191.182200,282795.503609,...,5.904493e+05,5.930607e+05,5.953860e+05,5.973129e+05,5.994030e+05,6.020490e+05,6.049911e+05,6.079180e+05,6.096283e+05,6.110266e+05
13,3250,13,San Bernardino County,CA,212230.989893,216081.062886,220643.904351,225634.413575,230739.620461,235869.558118,...,5.345444e+05,5.392195e+05,5.435988e+05,5.457050e+05,5.461188e+05,5.461116e+05,5.470725e+05,5.492992e+05,5.511573e+05,5.529189e+05

In [18]:
crime_df.head()

,YEAR,COUNTY,VIOLENT,PROPERTY,F_DRUGOFF,F_SEXOFF,F_ALLOTHER,F_TOTAL,M_TOTAL,S_TOTAL
0,2004,Alameda County,4301,6391,6886,296,2185,20059,41495,553
1,2004,Alpine County,7,9,6,0,4,26,136,1
2,2004,Amador County,111,107,147,4,245,614,1131,1
3,2004,Butte County,609,812,486,46,392,2345,7645,42
4,2004,Calaveras County,199,142,179,18,88,626,1468,17